@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--chakra-colors-brand-secondary-default) !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bebas Neue', sans-serif;
	line-height: 1,
}
h1,h2,h3,h4,h5,h6, p,li {
	color: var(--chakra-colors-brand-white-default)
}

h1 {
	font-size: 100px !important;
	
}
h2 {
	font-size: 80px !important;
}
h3 {
	font-size: 64px !important;
}
h4 {
	font-size: 36px !important;
	margin-bottom: 16px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.LINK {
	color: var(--chakra-colors-brand-primary-default);
	text-decoration: underline;
	font-weight: bold;
}
p, li {
	line-height: 1.5 !important;
	color: var(--chakra-colors-brand-white-default);
	font-family: 'Inter', sans-serif;
}
ul {
	margin-bottom: 32px !important;
}
li {
	line-height: 2 !important;
}
img {
  min-width: 0;
}