.ComingSoon {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  background-image: url('/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  box-sizing: border-box;
  article {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-indent: -9999999px;
	  height: 0;
    }
	img {
		filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.4));
		margin-bottom: 2rem;
		max-width:80%;
		@media(max-width: 30em) {
			max-width: 100%;
		}
	}
    p {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      text-shadow: 0 0 10px rgba(0 0 0 / 80);
    }
  }
}